 <%= stylesheet_link_tag 'home' %>

<div class="home-page">
    <div class="project-name">
       <h1 class="name"> Budget App</h1>
       <%= image_tag "money.png", class: "money-logo-white"%>
       <span class="border-top"></span>
       <span class="border-right"></span>
       <span class="border-bottom"></span>
       <span class="border-left"></span>
    </div>
    <div class="login-setup">
        <%= link_to 'Login', new_user_session_path, class: :login%>
        <%= link_to 'Signup', new_user_registration_path, class: :signup%>
    </div>
</div>