* {
  font-family: 'Proxima Nova Bold', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('proxima-nova.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #F0F2F1;
}

a {
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3778c2;
  padding: 0 10px;
}

.back-icon {
  color: #fff;
  font-size: 1rem;
}

.left-link {
  display: flex;
  align-items: center;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.center-heading {
  text-align: center;
  flex-grow: 1;
  color: #fff;
  font-size: 1.5rem;
}

.flash-message {
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
}

.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.notice {
  background-color: #05ebdf;
  border-color: #c3e6cb;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.money-logo-white {
  height: 70px;
  margin-left: 30%;
  filter: grayscale(100%) brightness(1000%) contrast(100%);
  }

  .money-logo {
    height: 70px;
    margin: 5rem 0 2rem 0;
    }