/* Home page */

.home-page {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.project-name {
  background-color: #5271C1;
  padding: 30px;
  border-radius: 20px;
}

.project-name h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
}


.login-setup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-setup > a {
  width: 70vw;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.login {
  background-color: #3778c2;
}

.login-setup .signup {
  color: black;
  background-color: #fff;
}
