<%= stylesheet_link_tag 'navbar' %>

<% if user_signed_in? %>
  <div class="navbar">
    <p class="app-name">Budget App</p>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>
  </div>
  <%end%>
